<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.AccountMapper">
    <resultMap id="test" type="com.example.demo.model.Account">
        <result property="account" column="user_account" javaType="string"></result>
        <result property="password" column="user_password" javaType="string"></result>
        <result property="type" column="user_type" javaType="int"></result>
    </resultMap>
    
    <select id="selectAccount" resultType="int">
        SELECT user_type FROM user_account
          WHERE user_account = #{account}
          AND user_password = #{password}
    </select>
</mapper>