<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.AddressInfoMapper">
    <parameterMap id="AddressInfo" type="com.example.demo.entity.AddressInfo">
        <parameter property="id" javaType="string"></parameter>
        <parameter property="apartmentId" javaType="string"></parameter>
        <parameter property="floor" javaType="int"></parameter>
        <parameter property="" javaType="int"></parameter>
    </parameterMap>
    <resultMap id="ResuAddressInfo" type="com.example.demo.entity.AddressInfo">
        <result property="id" javaType="string" column="user_id"></result>
        <result property="apartmentId" javaType="string" column="user_apartment_id"></result>
        <result property="floor" javaType="int" column="user_apartment_floor"></result>
        <result property="homeId" javaType="int" column="user_home_id"></result>
    </resultMap>
    
    <insert id="insertAddressInfo" parameterMap="AddressInfo">
        INSERT INTO user_address
          VALUES (#{id}, #{apartmentId}, #{floor}, #{homeId})
    </insert>

    <select id="selectAllAddress" resultMap="ResuAddressInfo">
        SELECT * FROM user_address;
    </select>
</mapper>