<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.HealthyMapper">
    <parameterMap id="Healthy" type="com.example.demo.entity.Healthy">
        <parameter property="residentId" javaType="string"></parameter>
        <parameter property="height" javaType="double"></parameter>
        <parameter property="weight" javaType="double"></parameter>
        <parameter property="vision" javaType="double"></parameter>
    </parameterMap>

    <insert id="insertHealthyMapper" parameterMap="Healthy">
        INSERT INTO healthy
          VALUES (#{residentId}, #{height}, #{weight}, #{vision});
    </insert>
</mapper>