<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.IdentityMapper">
    <parameterMap id="Person" type="com.example.demo.entity.Person">
        <parameter property="id" javaType="string"></parameter>
        <parameter property="occupation" javaType="int"></parameter>
    </parameterMap>
    <!---->
    <insert id="insertIdentity" parameterMap="Person">
        INSERT INTO person
        VALUES (#{id}, #{occupation});
    </insert>
</mapper>