<!DOCTYPE HTML>
<html>
<head>
<title>Contact</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="EldersCare Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="applijewelleryion/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="../../static/face/css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<link href="../../static/face/css/style.css" rel='stylesheet' type='text/css' />
<script src="../../static/face/js/jquery-1.11.1.min.js"></script>
<!--webfonts-->
<link href='#css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link href='#css?family=Source+Sans+Pro:400,200,300,600,700,900' rel='stylesheet' type='text/css'>
   <!--//webfonts-->
   <link rel="stylesheet" href="../../static/face/css/flexslider.css" type="text/css" media="screen" />
<script type="text/javascript" src="../../static/face/js/bootstrap.js"></script>
<script type="text/javascript" src="../../static/face/js/move-top.js"></script>
       <script type="text/javascript" src="../../static/face/js/easing.js"></script>
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
				});
			});
		</script>
		<script type="text/javascript">
		$(document).ready(function() {
				/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
				*/
		$().UItoTop({ easingType: 'easeOutQuart' });
});
</script>
<!--light-box-files -->
<script src="../../static/face/js/modernizr.custom.97074.js"></script>
<script src="../../static/face/js/jquery.chocolat.js"></script>
		<link rel="stylesheet" href="../../static/face/css/chocolat.css" type="text/css" media="screen" charset="utf-8">
		
		<script type="text/javascript" charset="utf-8">
		$(function() {
			$('.g-left a').Chocolat();
		});
		</script>
<!--light-box-files -->

</head>
<body>
 <!-- header -->

	 <!-- header-bottom -->
 <div class="header-bottom">
	 <div class="container">
		 <div class="logo">
			 <h1><a href="index.html"> &nbsp 帕绮社区管理</a></h1>
		 </div>
		 <nav class="navbar navbar-default" role="navigation">
			 <div class="navbar-header">
				 <button type="button" class="navbar-toggle" data-toggle="collapse"
						 data-target="#bs-example-navbar-collapse-1">
					 <span class="sr-only">Toggle navigation</span>
					 <span class="icon-bar"></span>
					 <span class="icon-bar"></span>
					 <span class="icon-bar"></span>
				 </button>
			 </div>
			 <!--/.navbar-header-->
			 <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				 <ul class="nav navbar-nav">
					 <li class="active" margin-left="100px"><a href="index.html"  >基本情况管理</a></li>
					 <li><a href="services.html">社区服务管理</a></li>
					 <li><a href="about.html">民政工作管理</a></li>
					 <li><a href="gallery.html">综合治理</a></li>

				 </ul>
			 </div>
			 <!--/.navbar-collapse-->
		 </nav>
		 <div class="search-box">
			 <div id="sb-search" class="sb-search">
				 <form>
					 <input class="sb-search-input" placeholder="Enter your search term..." type="search" name="search"
							id="search">
					 <input class="sb-search-submit" type="submit" value="">
					 <span class="sb-icon-search"> </span>
				 </form>
			 </div>
		 </div>
		 <div class="clearfix"></div>

		 <!-- search-scripts -->
		 <script src="../../static/face/js/classie.js"></script>
		 <script src="../../static/face/js/uisearch.js"></script>
		 <script>
             new UISearch(document.getElementById('sb-search'));
		 </script>
		 <!-- //search-scripts -->

	 </div>
 </div>
	<!-- /header-bottom -->

<!-- header -->
<!-- banner -->
	<div class="banner-1">
		<div class="container">	
		</div>
	</div>
<!-- banner -->
	<div class="contact">
			<div class="container">
				<h3>纠纷调解记录</h3>
				<div class=" map">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d83998.91163207516!2d2.3470599!3d48.85885894999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66e1f06e2b70f%3A0x40b82c3688c9460!2sParis%2C+France!5e0!3m2!1sen!2sin!4v1436340519910" allowfullscreen=""></iframe>				
				</div>
				<div class="contact-grids">
					<div class="contact-form">
							<form>
								<div class="contact-bottom">
									<div class="col-md-4 in-contact">
										<input type="text" placeholder="姓名">
									</div>
									<div class="col-md-4 in-contact">
										<input type="text" placeholder="邮箱">
									</div>
									<div class="col-md-4 in-contact">
										<input type="text" placeholder="电话号码">
									</div>
									<div class="clearfix"> </div>
								</div>
							
								<div class="contact-bottom-top">
									<textarea placeholder="纠纷调解原因" required=""></textarea>
									</div>
								<input type="submit" value="发送">
							</form>
						</div>
				<div class="address">
					<div class=" address-more">
						<h3>地址</h3>
						<div class="col-md-4 address-grid">
							<i class="glyphicon glyphicon-map-marker"></i>
							<div class="address1">
								<p>地址</p>
								<p>TL 19034-88974</p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="col-md-4 address-grid ">
							<i class="glyphicon glyphicon-phone"></i>
							<div class="address1">
								<p>+885699655</p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="col-md-4 address-grid ">
							<i class="glyphicon glyphicon-envelope"></i>
							<div class="address1">
								<p><a href="mailto:info@example.com">info@mycompany.com</a></p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- footer -->
 <div class="footer" id="contact">
	 <div class="container">
		 <div class="col-md-4 contact-left">
			 <h3>地址</h3>
			 <address>
				 795 Folsom Ave, Suite 600<br>
				 San Francisco, CA 94107<br>
				 <abbr title="Phone">P :</abbr> (123) 456-7890
			 </address>
		 </div>
		 <div class="col-md-4 ftr-gd">
			 <h3>关于我们</h3>
			 <ul class="social">
				 <li><a href="#"><i></i></a></li>
				 <li><a href="#"><i class="facebook"></i></a></li>
				 <li><a href="#"><i class="goog"></i> </a></li>
				 <li><a href="#"><i class="lin"></i> </a></li>
			 </ul>
		 </div>
		 <div class="col-md-4 contact-left">
			 <h3>电话</h3>
			 <p>Phone : +1234567890 </p>
			 <p>Fax : +1234567890 </p>
			 <p>Email : <a href="mailto:info@example.com">info@mycompany.com</a></p>
		 </div>
		 <div class="clearfix"></div>
	 </div>
 </div>
	

</body>
</html>