<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content=""/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>

    <!-- Bootstrap Core CSS -->
    <link href="/back/css/bootstrap.css" rel='stylesheet' type='text/css'/>

    <!-- Custom CSS -->
    <link href="/back/css/style.css" rel='stylesheet' type='text/css'/>

    <!-- font-awesome icons CSS-->
    <link href="/back/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome icons CSS-->

    <!-- side nav css file -->
    <link href='/back/css/SidebarNav.min.css' media='all' rel='stylesheet' type='text/css'/>
    <!-- side nav css file -->

    <!-- js-->
    <script src="/jquery.min.js"></script>
    <script src="/back/js/modernizr.custom.js"></script>

    <!--webfonts-->
    <link href="http://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext"
          rel="stylesheet">
    <!--//webfonts-->

    <!-- Metis Menu -->
    <script src="/back/js/metisMenu.min.js"></script>
    <script src="/back/js/custom.js"></script>
    <link href="/back/css/custom.css" rel="stylesheet">
    <!--//Metis Menu -->

</head>
<body class="cbp-spmenu-push cbp-spmenu-push-toright">
<div class="main-content">
    <div id="page-wrapper">
        <div class="main-page signup-page">
            <h2 class="title1">修改用户身份</h2>
            <div class="sign-up-row widget-shadow">
                <form action="/register" method="post">
                    <div class="sign-u">
                        <input type="text" id="idCard" placeholder="用户身份证" name="id" required="">
                        <div class="clearfix"></div>
                    </div>
                    <div class="sign-u">
                        <div class="sign-up1">
                            <h4>用户身份* :</h4>
                        </div>
                        <div class="sign-up2">
                            <label>
                                <input type="checkbox" name="identity" value="1">
                                志愿者
                            </label>
                            <label>
                                <input type="checkbox" name="identity" value="2">
                                失业者
                            </label>
                            <label>
                                <input type="checkbox" name="identity" value="4">
                                再就业培训者
                            </label>
                            <label>
                                <input type="checkbox" name="identity" value="8">
                                残疾者
                            </label>
                            <label>
                                <input type="checkbox" name="identity" value="16">
                                低保者
                            </label>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="sub_home">
                        <button type="button" class="btn btn-success" id="submitButton">修改</button>
                        <div class="clearfix"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- //side nav js -->
<!-- Classie --><!-- for toggle left push menu script -->
<script src="/back/js/classie.js"></script>
<!--scrolling js-->
<script src="/back/js/jquery.nicescroll.js"></script>
<script src="/back/js/scripts.js"></script>
<!--//scrolling js-->
<!-- Bootstrap Core JavaScript -->
<script src="/back/js/bootstrap.js"></script>
<!-- //Bootstrap Core JavaScript -->

<!--自己的js-->
<script>
    //  表单提交
    $("#submitButton").click(function () {
        //  居住信息
        var person = null;
        var checkbox = $("input[name='identity']:checked");
        var identity = 0;
        checkbox.each(function () {
            identity = identity | $(this).val();
        })

        person = {
            "id": $("#idCard").val(),
            "occupation": identity
        }

        $.post({
            url: "/changeIdentity",
            dataType: "json",
            data: person,
            success: function (data) {
                if (data == true) {
                    window.location.href = "/backIndex";
                }
            }
        });
    });
</script>
</body>
</html>