<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content=""/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>

    <!-- Bootstrap Core CSS -->
    <link href="/back/css/bootstrap.css" rel='stylesheet' type='text/css'/>

    <!-- Custom CSS -->
    <link href="/back/css/style.css" rel='stylesheet' type='text/css'/>

    <!-- font-awesome icons CSS-->
    <link href="/back/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome icons CSS-->

    <!-- side nav css file -->
    <link href='/back/css/SidebarNav.min.css' media='all' rel='stylesheet' type='text/css'/>
    <!-- side nav css file -->

    <!-- js-->
    <script src="/jquery.min.js"></script>
    <script src="/back/js/modernizr.custom.js"></script>

    <!--webfonts-->
    <link href="http://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext"
          rel="stylesheet">
    <!--//webfonts-->

    <!-- Metis Menu -->
    <script src="/back/js/metisMenu.min.js"></script>
    <script src="/back/js/custom.js"></script>
    <link href="/back/css/custom.css" rel="stylesheet">
    <!--//Metis Menu -->

</head>
<body class="cbp-spmenu-push cbp-spmenu-push-toright">
<div class="main-content">
    <div id="page-wrapper">
        <div class="main-page signup-page">
            <h2 class="title1">注册</h2>
            <div class="sign-up-row widget-shadow">
                <h5>账号信息 :</h5>
                <form action="/register" method="post">
                    <div class="sign-u">
                        <input type="text" id="account" name="account" placeholder="输入邮箱作为注册账号" required="">
                        <div class="clearfix"></div>
                    </div>
                    <div class="sign-u">
                        <input type="password" id="password" placeholder="密码" name="password" required="">
                    </div>
                    <div class="sign-u">
                        <input type="password" placeholder="确认密码" required="">
                    </div>
                    <h6>个人信息 :</h6>
                    <div class="sign-u">
                        <input type="text" id="name" placeholder="姓名" name="name" required="">
                        <div class="clearfix"></div>
                    </div>
                    <div class="sign-u">
                        <input type="text" id="age" placeholder="年龄" name="age" required="">
                        <div class="clearfix"></div>
                    </div>
                    <div class="sign-u">
                        <input type="text" id="idCard" placeholder="身份证" name="id" required="">
                        <div class="clearfix"></div>
                    </div>
                    <div class="sign-u">
                        <div class="sign-up1">
                            <h4>性别* :</h4>
                        </div>
                        <div class="sign-up2">
                            <label>
                                <input type="radio" name="sex" value="0">
                                男
                            </label>
                            <label>
                                <input type="radio" name="sex" value="1">
                                女
                            </label>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <h6>社区信息 :</h6>
                    <div class="sign-u">
                        <div class="sign-up1">
                            <h4>小区住户* :</h4>
                        </div>
                        <div class="sign-up2">
                            <label>
                                <input type="radio" name="is-here" value="false" checked="true">
                                否
                            </label>
                            <label>
                                <input type="radio" name="is-here" value="true">
                                是
                            </label>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div id="address" style="display: none;">
                        <div class="sign-u">
                            <input type="text" id="appartment-id" placeholder="单元楼" name="appartment-id" required="">
                            <div class="clearfix"></div>
                        </div>
                        <div class="sign-u">
                            <input type="text" id="floor" placeholder="楼层" name="floor" required="">
                            <div class="clearfix"></div>
                        </div>
                        <div class="sign-u">
                            <input type="text" id="home-id" placeholder="门牌号" name="home-id" required="">
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="sub_home">
                        <button type="button" class="btn btn-success" id="submitButton">注册</button>
                        <div class="clearfix"></div>
                    </div>
                    <div class="registration">
                        已有账号?
                        <a class="" href="/login">
                            登陆
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- //side nav js -->
<!-- Classie --><!-- for toggle left push menu script -->
<script src="/back/js/classie.js"></script>
<!--scrolling js-->
<script src="/back/js/jquery.nicescroll.js"></script>
<script src="/back/js/scripts.js"></script>
<!--//scrolling js-->
<!-- Bootstrap Core JavaScript -->
<script src="/back/js/bootstrap.js"></script>
<!-- //Bootstrap Core JavaScript -->

<!--自己的js-->
<script>
    var isHere;
    //  若是本小区的则填写额外表单
    $(document).ready(function () {
        $("input[name='is-here']").change(function () {
            isHere = $("input[name='is-here']:checked").val();
            if (isHere == "false") {
                $("#address").css("display", "none");
            } else {
                $("#address").css("display", "block");
            }
        })
    });
    //  表单提交
    $("#submitButton").click(function () {
        //  居住信息
        info = null;
        if (isHere == "true") {
            info = {
                "account": $("#account").val(),
                "password": $("#password").val(),
                "name": $("#name").val(),
                "age": $("#age").val(),
                "id": $("#idCard").val(),
                "sex": $("input[name='sex']:checked").val(),
                "isHere": $("input[name='is-here']:checked").val(),
                "appartmentId": $("#appartment-id").val(),
                "floor": $("#floor").val(),
                "homeId": $("#home-id").val(),
            };
        } else {
            info = {
                "account": $("#account").val(),
                "password": $("#password").val(),
                "sex": $("input[name='sex']:checked").val(),
                "name": $("#name").val(),
                "age": $("#age").val(),
                "id": $("#idCard").val(),
                "isHere": $("input[name='is-here']:checked").val(),
            };
        }

        alert(JSON.stringify(info));
        $.post({
            url: "/register",
            dataType: "json",
            contentType: "application/json",
            data: JSON.stringify(info),
            success: function (data) {

            }
        });
    });
</script>
</body>
</html>